@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #800000 ;
}


.sidebar .logo{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
    padding: 5px;
}

.logo_name{
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.sidebar .nav-links{
    background: #890F0D;
    height: 100%;
    padding-top: 30px;
}

.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #9A4444;
}

.sidebar .nav-links li i{
    height: 55px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
}

.sidebar .nav-links li a, .sidebar .nav-links  .log_out a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;

}

.sidebar .nav-links  .log_out .out{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.sidebar .nav-links  .log_out{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
