@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #800000;
}

.sidebar .logo{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
    padding: 5px;
}

.logo_name{
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.sidebar .nav-links{
    background: #890F0D;
    height: 100%;
    padding-top: 30px;
}

.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #9A4444;
}

.sidebar .nav-links li i{
    height: 55px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
}

.sidebar .nav-links li a, .sidebar .nav-links  .log_out a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.sidebar .nav-links  .log_out{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*header title*/
.main{
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 260px);
    left: 260px;
}

.main nav .side{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    
}

.main nav .side .reports, .main nav .side i{
    font-size: 40px;
    margin-right: 2px;
}

.box2 .btn_print{
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    background:rgb(22, 77, 179);
    padding: 15px 20px;
    width: max-content;
    height: 65px;
    margin: 30px;
    color: #fff;
    font-size: 17px;
    border-radius: 10px;
    float: right;
}

.box2 .btn_print i{
    color: #ffffff;
    font-size: 17px;
    margin: 2px;
}
